.card-body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0;
    background-color: rgb(251, 243, 197);
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 300px;
    box-shadow: 5px 5px 10px 1px #2a2a2a;
    position: relative; /* Añadido para permitir posicionamiento absoluto del botón */
    background: url('/textures/textura.png');
    background-size: cover;
}

.hh {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.importante .card-body {
    background-color: rgb(252, 123, 97);
    background: url('/textures/textura-importante.png');
    background-size: cover;
}

.rotate-left {
    transform: rotate(-5deg);
}

.rotate-right {
    transform: rotate(5deg);
}

.col-md-3 {
    transition: transform 0.5s ease;
}

.btn-danger.btn-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    background-color: rgb(252, 123, 97); 
    color: white; 
    border: none;
}

.importante .btn-danger.btn-sm {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    background-color: rgb(251, 243, 197); 
    color: black; 
    border: none;
}

.btn-danger.btn-sm:hover {
    background-color: #ff4d4d; 
}

.importante .btn-danger.btn-sm:hover {
    background-color: #ffc44d; 
}

body {
    padding: 0%;
    margin: 0;
    background-color: rgb(113, 113, 113);
    background: url('/textures/textura-fondo.png');
    background-size: cover;
}

h2 {
    color: black;
}

label {
    color: white;
}
